zWU1Pah3TOCw5Pe9-Email_Ai_Agent.json
{
  "name": "Email Ai Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1056,
        320
      ],
      "id": "761f3f0a-3f9b-4076-8761-4e402e347033",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "PPs7HsU0N59zJ28u",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04807078-17c9-4eda-beaf-e011590dbd34",
              "leftValue": "={{ $json.output }}",
              "rightValue": "IRRELEVANT",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        -416
      ],
      "id": "1a44c023-59d0-43a8-9026-bdf56b79a4d8",
      "name": "if irrelevant"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "11e08cfd-7dba-4b25-b171-b61f8b127d84",
              "leftValue": "={{ $json.output }}",
              "rightValue": "SEARCH",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        -272
      ],
      "id": "167da64d-4bfb-4547-ad28-ec2a630bdf93",
      "name": "if search"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "965bfafd-f4f4-41cf-a480-2c0479eb7e31",
              "leftValue": "={{ $json.output }}",
              "rightValue": "GENERATE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        -96
      ],
      "id": "8aef6373-a19d-47ba-a5cb-4840d0940b26",
      "name": "If generate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e20cd512-28a2-4adf-97c5-30539acd57b0",
              "leftValue": "={{ $json.output }}",
              "rightValue": "ANALYZE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        80
      ],
      "id": "ec39c905-6044-4124-b265-3461490f64df",
      "name": "If analyze"
    },
    {
      "parameters": {
        "jsCode": "let new_object = JSON.parse($input.first().json.output);\nreturn new_object;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -416
      ],
      "id": "9681b0dc-82bc-4370-aeca-4dec8dd430cc",
      "name": "evaluating ai output"
    },
    {
      "parameters": {
        "url": "https://customsearch.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "TODO"
            },
            {
              "name": "cx",
              "value": "b7f0de69ebb224970"
            },
            {
              "name": "q",
              "value": "={{ $json.operation }}"
            },
            {
              "name": "num",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1568,
        -288
      ],
      "id": "c13d71df-75d4-49b3-b91a-942691bbb232",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "let searchTerm = $input.first().json.queries.request[0].searchTerms;\nlet items = $input.first().json.items;\n\nlet emailHTML = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin: 0; padding: 0; background: #f5f5f5; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\">\n  \n  <!-- Container -->\n  <div style=\"max-width: 620px; margin: 30px auto; background: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.08); border: 1px solid #e5e5e5;\">\n    \n    <!-- Header -->\n    <div style=\"background: #ffffff; padding: 24px 24px 20px 24px; border-bottom: 2px solid #2563eb;\">\n      <h1 style=\"margin: 0; color: #1e293b; font-size: 22px; font-weight: 600; letter-spacing: -0.3px;\">\n        Search Results\n      </h1>\n      <p style=\"margin: 6px 0 0 0; color: #64748b; font-size: 14px;\">\n        ${items?items.length?items.length:0:0} results for \"${searchTerm}\"\n      </p>\n    </div>\n\n    <!-- Results Container -->\n    <div style=\"padding: 16px 24px 24px 24px;\">\n`;\n\nitems.slice(0, items.length?items.length:0).forEach((item, index) => {\n \n  let imageUrl = '';\n  if (item.pagemap?.cse_image?.[0]?.src) {\n    imageUrl = item.pagemap.cse_image[0].src;\n  } else if (item.pagemap?.metatags?.[0]?.[\"og:image\"]) {\n    imageUrl = item.pagemap.metatags[0][\"og:image\"];\n  }\n\n  // Get snippet (clean it up)\n  let snippet = item.snippet || '';\n  snippet = snippet.substring(0, 130) + (snippet.length > 130 ? '...' : '');\n\n  emailHTML += `\n      <!-- Result Card ${index + 1} -->\n      <div style=\"background: #fafafa; border: 1px solid #e5e5e5; border-radius: 6px; padding: 14px; margin-bottom: 10px;\">\n        \n        <div style=\"display: table; width: 100%;\">\n          ${imageUrl ? `\n          <!-- Image -->\n          <div style=\"display: table-cell; width: 70px; vertical-align: top; padding-right: 14px;\">\n            <img src=\"${imageUrl}\" \n                 alt=\"\" \n                 style=\"width: 70px; height: 70px; object-fit: cover; border-radius: 4px; border: 1px solid #e5e5e5;\"\n                 onerror=\"this.style.display='none'\">\n          </div>\n          ` : ''}\n          \n          <!-- Content -->\n          <div style=\"display: table-cell; vertical-align: top;\">\n            \n            <!-- Title -->\n            <h2 style=\"margin: 0 0 4px 0; font-size: 16px; font-weight: 600; line-height: 1.3;\">\n              <a href=\"${item.link}\" \n                 style=\"color: #2563eb; text-decoration: none;\"\n                 target=\"_blank\">\n                ${item.title}\n              </a>\n            </h2>\n            \n            <!-- Domain -->\n            <div style=\"margin-bottom: 6px;\">\n              <span style=\"font-size: 12px; color: #16a34a;\">\n                ${item.displayLink}\n              </span>\n            </div>\n            \n            <!-- Snippet -->\n            <p style=\"margin: 0; font-size: 13px; color: #64748b; line-height: 1.5;\">\n              ${snippet}\n            </p>\n            \n          </div>\n        </div>\n      </div>\n  `;\n});\n\n// Footer\nemailHTML += `\n    </div>\n\n    <!-- Footer -->\n    <div style=\"background: #fafafa; padding: 16px 24px; border-top: 1px solid #e5e5e5; text-align: center;\">\n      <p style=\"margin: 0; font-size: 12px; color: #94a3b8;\">\n        AI Email Assistant • ${new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })}\n      </p>\n    </div>\n\n  </div>\n  \n</body>\n</html>\n`;\n\n\nreturn {\n    \"request_operation\": \"SEARCH\",\n    \"request_term\": searchTerm,\n    \"request_email_addr\": $('store source email').item.json.client_email,\n    \"results\": emailHTML,\n  };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        -288
      ],
      "id": "05b050ba-babb-4436-8e6e-dc718de5fc72",
      "name": "search result filter"
    },
    {
      "parameters": {
        "jsCode": "let output = JSON.parse($input.first().json.output);\n\n// Create styled HTML for generated content\nlet resultsHTML = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin: 0; padding: 0; background: #f5f5f5; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\">\n  \n  <!-- Container -->\n  <div style=\"max-width: 620px; margin: 30px auto; background: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.08); border: 1px solid #e5e5e5;\">\n    \n    <!-- Header -->\n    <div style=\"background: #ffffff; padding: 24px 24px 20px 24px; border-bottom: 2px solid #7c3aed;\">\n      <h1 style=\"margin: 0; color: #1e293b; font-size: 22px; font-weight: 600; letter-spacing: -0.3px;\">\n        Response\n      </h1>\n      <p style=\"margin: 6px 0 0 0; color: #64748b; font-size: 14px;\">\n        Generated for: \"${output.request_body}\"\n      </p>\n    </div>\n\n    <!-- Content Section -->\n    <div style=\"padding: 24px;\">\n      \n      <!-- Response Card -->\n      <div style=\"background: #fafafa; border: 1px solid #e5e5e5; border-left: 3px solid #7c3aed; border-radius: 6px; padding: 20px;\">\n        \n        <!-- AI Badge -->\n        <div style=\"margin-bottom: 14px;\">\n          <span style=\"background: #f3e8ff; color: #7c3aed; font-size: 11px; font-weight: 600; padding: 4px 10px; border-radius: 4px; text-transform: uppercase; letter-spacing: 0.5px;\">\n            ✨ AI Generated\n          </span>\n        </div>\n        \n        <!-- Generated Content -->\n        <div style=\"color: #1e293b; font-size: 15px; line-height: 1.7; white-space: pre-wrap;\">\n${output.response}\n        </div>\n        \n      </div>\n\n    </div>\n\n    <!-- Footer -->\n    <div style=\"background: #fafafa; padding: 16px 24px; border-top: 1px solid #e5e5e5; text-align: center;\">\n      <p style=\"margin: 0; font-size: 12px; color: #94a3b8;\">\n        AI Email Assistant • ${new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })}\n      </p>\n    </div>\n\n  </div>\n  \n</body>\n</html>\n`;\n\nreturn {\n  \"request_operation\": \"GENERATE\",\n  \"request_term\": output.request_body,\n  \"request_email_id\": output.id,\n  \"request_email_addr\": output.source_addr,\n  \"request_email_name\": output.source_name,\n  \"results\": resultsHTML,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        -112
      ],
      "id": "c5deba92-f393-4f84-9429-9368dec6104f",
      "name": "generated data filter"
    },
    {
      "parameters": {
        "jsCode": "let output = JSON.parse($input.first().json.output);\n\n// Create styled HTML for analysis content\nlet resultsHTML = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin: 0; padding: 0; background: #f5f5f5; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\">\n  \n  <!-- Container -->\n  <div style=\"max-width: 620px; margin: 30px auto; background: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.08); border: 1px solid #e5e5e5;\">\n    \n    <!-- Header -->\n    <div style=\"background: #ffffff; padding: 24px 24px 20px 24px; border-bottom: 2px solid #16a34a;\">\n      <h1 style=\"margin: 0; color: #1e293b; font-size: 22px; font-weight: 600; letter-spacing: -0.3px;\">\n        Analysis Results\n      </h1>\n      <p style=\"margin: 6px 0 0 0; color: #64748b; font-size: 14px;\">\n        Analysis of: \"${output.request_body}\"\n      </p>\n    </div>\n\n    <!-- Content Section -->\n    <div style=\"padding: 24px;\">\n      \n      <!-- Analysis Card -->\n      <div style=\"background: #fafafa; border: 1px solid #e5e5e5; border-left: 3px solid #16a34a; border-radius: 6px; padding: 20px;\">\n        \n        <!-- Analysis Badge -->\n        <div style=\"margin-bottom: 14px;\">\n          <span style=\"background: #dcfce7; color: #16a34a; font-size: 11px; font-weight: 600; padding: 4px 10px; border-radius: 4px; text-transform: uppercase; letter-spacing: 0.5px;\">\n            📊 Analysis\n          </span>\n        </div>\n        \n        <!-- Analysis Content -->\n        <div style=\"color: #1e293b; font-size: 15px; line-height: 1.7; white-space: pre-wrap;\">\n${output.response}\n        </div>\n        \n      </div>\n\n    </div>\n\n    <!-- Footer -->\n    <div style=\"background: #fafafa; padding: 16px 24px; border-top: 1px solid #e5e5e5; text-align: center;\">\n      <p style=\"margin: 0; font-size: 12px; color: #94a3b8;\">\n        AI Email Assistant • ${new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })}\n      </p>\n    </div>\n\n  </div>\n  \n</body>\n</html>\n`;\n\nreturn {\n  \"request_operation\": \"ANALYZE\",\n  \"request_term\": output.request_body,\n  \"request_email_id\": output.id,\n  \"request_email_addr\": output.source_addr,\n  \"request_email_name\": output.source_name,\n  \"results\": resultsHTML,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        64
      ],
      "id": "085e95c6-3a34-47bd-a899-637dedb3b1bd",
      "name": "analyzed data filter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=EmailSubject: [{{ $('Email Trigger (IMAP)').item.json.subject }}]\nEmailBody: [{{ $('Email Trigger (IMAP)').item.json.text }}]\nAnalyze the EmailSubject and EmailBody and decide what the user wants and output one string in the form '{\"output\":${one of the following actions},\"operation\": ${if SEARCH what to search for should be in here else if GENERATE what to generate else if ANALYZE what is the data that should be analyzed else if IRRELEVANT leave this empty}, \"subject\":{{ $('Email Trigger (IMAP)').item.json.subject }},\"body\":{{ $('Email Trigger (IMAP)').item.json.text }}, \"id\": {{ $('Email Trigger (IMAP)').item.json.messageId }}, \"client_email\":{{ $('Email Trigger (IMAP)').item.json.from.value[0].address }} , \"client_name\":{{ $('Email Trigger (IMAP)').item.json.from.value[0].name }} }':\n- SEARCH (if the user wants to search online for something).\n- GENERATE (if the user wants to generate ssomething).\n- ANALYZE (if the user wants an analysis of provided data).\n- IRRELEVANT (if the user request does not match any of the above topics).\nReply:",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        -416
      ],
      "id": "2a10d358-7b67-4b88-929a-95e0e31333e4",
      "name": "ai agent: user request analysis"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Parsed Request: Data Generation.\nPure Request: {{ $json.output }}.\nPure Request data: {{ $json.operation }}.\nRequested Output Format: '{\"id\":{{ $json.id }}, \"request_body\": {{ $json.operation }},\"source_addr\":{{ $json.client_email }}, \"source_name\": {{ $json.client_name }}, \"subject\": {{ $json.subject }}, \"body\": {{ $json.body }}, \"response\": ${your response goes here} }'",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1408,
        -112
      ],
      "id": "0b9e2cf5-5eda-4194-a7fb-65b858ece956",
      "name": "ai agent: content generation"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Parsed Request: Data Analysis.\nPure Request: {{ $json.output }}.\nPure Request data to analyze: {{ $json.operation }}.\nRequested Output Format: '{\"id\":{{ $json.id }}, \"request_body\": {{ $json.operation }},\"source_addr\":{{ $json.client_email }}, \"source_name\": {{ $json.client_name }}, \"subject\": {{ $json.subject }}, \"body\": {{ $json.body }}, \"response\": ${your response goes here} }'",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1408,
        64
      ],
      "id": "19aa091a-6784-4a19-bc71-ee0d87a22098",
      "name": "ai agent: custom data analysis"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.request_email_addr }}",
        "subject": "=AI Response for your {{ $json.request_operation }} request",
        "message": "={{ $json.results }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2240,
        16
      ],
      "id": "0d4f7b6f-525d-482a-a6b9-84c3863208c1",
      "name": "Gmail respond",
      "webhookId": "b8912461-c830-4231-94b7-d20748e07a47",
      "credentials": {
        "gmailOAuth2": {
          "id": "AXfyhIb8ICxBEQEJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  \"subject\": $json.subject, \"body\": $json.text,\n  \"id\": $json.messageId, \"client_email\": $json.from.value[0].address,\n  \"client_name\": $json.from.value[0].name\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -16
      ],
      "id": "21ce5cba-bdd8-4645-86a0-b5d70bf8ec51",
      "name": "email request extraction",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "let resultsHTML = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin: 0; padding: 0; background: #f5f5f5; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\">\n  \n  <!-- Container -->\n  <div style=\"max-width: 620px; margin: 30px auto; background: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.08); border: 1px solid #e5e5e5;\">\n    \n    <!-- Header -->\n    <div style=\"background: #ffffff; padding: 24px 24px 20px 24px; border-bottom: 2px solid #64748b;\">\n      <h1 style=\"margin: 0; color: #1e293b; font-size: 22px; font-weight: 600; letter-spacing: -0.3px;\">\n        Request Not Supported\n      </h1>\n    </div>\n\n    <!-- Content Section -->\n    <div style=\"padding: 24px;\">\n      \n      <!-- Message Card -->\n      <div style=\"background: #f8fafc; border: 1px solid #e2e8f0; border-left: 3px solid #64748b; border-radius: 6px; padding: 18px;\">\n        \n        <!-- Icon Badge -->\n        <div style=\"margin-bottom: 12px;\">\n          <span style=\"background: #f1f5f9; color: #64748b; font-size: 11px; font-weight: 600; padding: 4px 10px; border-radius: 4px; text-transform: uppercase; letter-spacing: 0.5px;\">\n            ℹ️ Notice\n          </span>\n        </div>\n        \n        <!-- Message -->\n        <p style=\"margin: 0; color: #475569; font-size: 14px; line-height: 1.6;\">\n          I can help you with:\n        </p>\n        <ul style=\"margin: 10px 0 0 0; padding-left: 20px; color: #475569; font-size: 14px; line-height: 1.8;\">\n          <li><strong>Searching</strong> for information online</li>\n          <li><strong>Generating</strong> content or explanations</li>\n          <li><strong>Analyzing</strong> data you provide</li>\n        </ul>\n        \n      </div>\n\n    </div>\n\n    <!-- Footer -->\n    <div style=\"background: #fafafa; padding: 16px 24px; border-top: 1px solid #e5e5e5; text-align: center;\">\n      <p style=\"margin: 0; font-size: 12px; color: #94a3b8;\">\n        AI Email Assistant\n      </p>\n    </div>\n\n  </div>\n  \n</body>\n</html>\n`;\n\nreturn {\n  \"request_operation\": \"IRRELEVANT\",\n  \"request_email_id\": $input.first().json.id,\n  \"request_email_addr\": $input.first().json.data.json.client_email ? $input.first().json.data.json.client_email : $input.first().json.client_email,\n  \"request_email_name\": $input.first().json.client_name,\n  \"results\": resultsHTML,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        -432
      ],
      "id": "34ec1874-c4f9-4865-9b6b-faca638c5983",
      "name": "generate input error"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let valid = true;\n\nif ($input == undefined)\n  valid = false;\nelse {\n  let input_json = $input.item.json;\n  if ((!input_json.body.length && !input_json.subject.length)\n     || !input_json.id.length || !input_json.client_email.length)\n    valid = false;\n  if (!input_json.subject.startsWith(\"TO AI:\"))\n    valid = false;\n}\n\nreturn { \"valid\": valid, \"data\": $input.item};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -16
      ],
      "id": "52f74d25-9240-4e15-be0b-e0f1e6b477b0",
      "name": "primary input validation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "41da93b8-4ed4-48ae-b60a-c5d34ccd5b33",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        -400
      ],
      "id": "ded66eba-fd7f-4b79-8cfa-429c0e8fff2b",
      "name": "If valid input"
    },
    {
      "parameters": {
        "format": "resolved",
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -48,
        -16
      ],
      "id": "76f431a7-69ef-4d20-9b3d-4b7edf5bc01f",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "LVQE2tVUzT06EDzU",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        -16
      ],
      "id": "12920e99-6576-41a8-85d9-fb90c2031c28",
      "name": "loop over emails"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43258ce0-a576-47b1-88eb-b2cd94bbc5a4",
              "name": "client_email",
              "value": "={{ $json.client_email }}",
              "type": "string"
            },
            {
              "id": "c94cd5c1-cf81-4d26-8ac8-20a1bba27264",
              "name": "email_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1376,
        -288
      ],
      "id": "6fb60db1-d8bf-451f-ade0-85fb0bb0defe",
      "name": "store source email"
    },
    {
      "parameters": {
        "content": "## *`trigger on received emails then manually extract/parse data and execute workflow on each one`* \n",
        "height": 416,
        "width": 1056,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        -176
      ],
      "typeVersion": 1,
      "id": "fbdd0f5a-3d1f-46c1-ac58-40e24734b3c6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## *`ai analysis of each request`*\n",
        "height": 368,
        "width": 832,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        -544
      ],
      "typeVersion": 1,
      "id": "9923f18b-4afd-438d-8a6f-80e3dea2313a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## *`branching on the result of the ai analysis`*",
        "height": 784,
        "width": 352,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        -544
      ],
      "typeVersion": 1,
      "id": "cfc1e6fc-07c6-4ac3-b3f4-7c12518500d4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## *`performing the requested action (searching the web or generating/analyzing data using ai)`*",
        "height": 784,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        -544
      ],
      "typeVersion": 1,
      "id": "4bbbd8e8-5f4b-4f6e-8992-b30e51c276ee",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## *`parsing/formatting the resulted data to be sent as email`*",
        "height": 784,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        -544
      ],
      "typeVersion": 1,
      "id": "6c1cafba-6f7a-4eef-adc9-2478b41cc77a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## *`openrouter chat model powering all the agents`*",
        "height": 240,
        "width": 1648,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        240
      ],
      "typeVersion": 1,
      "id": "0e4a3495-e063-41f3-9081-859b8cec7d78",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## *`emailing the resulted data to the original sender using gmail`*",
        "height": 784,
        "width": 352,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2112,
        -544
      ],
      "typeVersion": 1,
      "id": "bc6a6c73-c48b-4014-97fa-7b5162422805",
      "name": "Sticky Note6"
    }
  ],
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "ai agent: content generation",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "ai agent: custom data analysis",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "ai agent: user request analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "if irrelevant": {
      "main": [
        [
          {
            "node": "generate input error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "if search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if search": {
      "main": [
        [
          {
            "node": "store source email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If generate": {
      "main": [
        [
          {
            "node": "ai agent: content generation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If analyze": {
      "main": [
        [
          {
            "node": "ai agent: custom data analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "generate input error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evaluating ai output": {
      "main": [
        [
          {
            "node": "if irrelevant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "search result filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search result filter": {
      "main": [
        [
          {
            "node": "Gmail respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generated data filter": {
      "main": [
        [
          {
            "node": "Gmail respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analyzed data filter": {
      "main": [
        [
          {
            "node": "Gmail respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ai agent: user request analysis": {
      "main": [
        [
          {
            "node": "evaluating ai output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ai agent: content generation": {
      "main": [
        [
          {
            "node": "generated data filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ai agent: custom data analysis": {
      "main": [
        [
          {
            "node": "analyzed data filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email request extraction": {
      "main": [
        [
          {
            "node": "primary input validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate input error": {
      "main": [
        [
          {
            "node": "Gmail respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "primary input validation": {
      "main": [
        [
          {
            "node": "loop over emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If valid input": {
      "main": [
        [
          {
            "node": "ai agent: user request analysis",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Gmail respond": {
      "main": [
        [
          {
            "node": "loop over emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "email request extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop over emails": {
      "main": [
        [],
        [
          {
            "node": "If valid input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "store source email": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1762031883,
        "possibleDuplicates": [
          "19a4148d6fd3a944",
          "19a4147ed8e740ef"
        ]
      }
    },
    "node:Email Trigger (IMAP)": {
      "lastMessageUid": 328
    }
  },
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
